
@{
    ViewData["Title"] = "Ana Sayfa";
}
<h2 style="text-align:center">Senegal Tanıtım</h2>

@await Component.InvokeAsync("_SliderComponentPartial")

@await Component.InvokeAsync("_CountryPromotionComponentPartial")
