@model ip2DonemOdev.DAL.Entities.City
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Şehir Bilgisi</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Şehir Bilgisi Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="CreateCities">
                            <label>Şehir Adı Giriniz.</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <br />
                            <label>Şehir Açıklamasını Girin.</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Yeni Şehir Bilgisini Ekle</button>
                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
