@model ip2DonemOdev.DAL.Entities.Place
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Bölge Bilgisi</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Yeni Bölge Bilgisi Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="CreatePlace">
                            <label>Bölge Bilgisini Giriniz.</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Bölge Açıklamasını Giriniz.</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Yeni Bölge Bilgisini Ekle</button>
                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
